@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$brightred: rgb(198, 26, 37);
$backgroundgray: #FFF;
$background_from: rgb(244, 245, 245);
$background_to: rgb(253, 254, 254);
$lightgray: rgb(221,221,221);
$lightred: rgb(249, 204, 205);


.short-button {
	padding: 2px 30px 2px 30px;
	font-size:12pt;
	background-color: white;
	color:$primary-color;
	border: 1px solid red;
}

.active-button{	
	background-color: $primary-color;
	color:white
}

/***********mobile language link**********/

.mobile-langue {
  .row-border {
    border: solid 1px rgb(198, 26, 37);
    border-radius:5px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .mobile-langue-div {
    padding: 0 5%;
    .langue-link {
      padding: 0 5%;
    }
  }
  .mobile-langue-div:hover {
    background-color: $brightred;
    .langue-link {
      color: white;
    }
  }
}



$text-color: #fff;

// footer CSS

.footer {
	margin-top:15px;
	background-color: $primary-color;
	padding: 2rem 3rem;
	text-align: center;
	color: $text-color;
	i {
		font-size: 100px;
	}
}
.small-footer {
	margin-top:15px;
	background-color: $primary-color;
	color: $text-color;
}

.no-padding{padding:0px;}

.footer {
  h4 {
    color: $text-color;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top:5px;
  }
  p, a {
    font-weight: 300; 
    font-size: 1em;
    color: $text-color;
  } 

  p {
    font-size: 0.8em;
    margin:0px;
  }
}

.copyright{

	background-color: rgb(221, 203,202);

	padding-top:10px;
	padding-bottom:0px;
	color: $primary-color;
	margin-bottom:0px;

}

@media only screen and (min-width: 40.063em) {
  .footer {
    .columns:nth-child(n+2) {
      border-left: 1px dashed scale-color($text-color, $lightness: 100%);
    }
  }
}

.footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}

//*******menu***********/

.menu-blank-space{
	background-color: white;
	padding-left: 30px;
}

.menu-right-divider{
	color:$primary-color;
	padding-top:10px;
	margin:0px;
}
.p-no-margin p{
	margin:0px;
}
.p-no-margin li{
	padding:4px;
}
.menu-drop-margin{margin-left:-20px}

.home-mobile-ul li{
	padding:3px;
	border-radius: 2em 1em 4em / 0.5em 3em;
}

.ul-drop-padding a{margin-left:20px;}




// ************orbit slider***********//

.orbit-timer {
  left: -10000px;
  top: auto;
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}



/**********secondary pages layouts**********/



.panel {
  padding-left: 0;
  padding-right: 0;

}
.columns-gsgs {
  padding-left: 0;
  padding-right: 0;
}
.artilce-icon-bar {
  .item-1 {
    margin-left: 0;

  }
  .item-4 {
    margin-right: 0;
  }
  border-bottom: 1px dashed $brightred;
  padding-bottom: 20px;
  .item {
    padding: 16px 0;

  }
}
.article-show {
  h4 {
    color: $brightred;
    padding-top: 20px;
    background: no-repeat left bottom url(/img/arrow_dashed.png);
    padding-bottom: 10px;
    background-size: 100%;
    
  }
}

/*********articles*************/

.article p {font-size:rem-calc(14);}

.article hr{border: 1px dashed $primary-color}

.article a{color:scale-color($primary-color, $lightness: 50%)}

.article a:hover{color:$primary-color}

.article .active a{color:$primary-color;font-weight: bold}

.article h4{font-weight: 700}

.article .red-i{font-style: italic; color:red;font-size:rem-calc(16); text-align: center;}

/*********gsgs************/

.gsgs-content {
  p {
    text-indent: 2rem;
  }
}

/***********gswh************/

.gswh-content{
  .row {
    margin-left: 0;
    margin-right: 0;  
  }
  .text-picture {

    margin-bottom: 20px;
    position: relative;
  }
  .text {
    position: absolute;
    bottom: 0;
  }
  .text-2 {
    right: 0;
    padding-left: 10px;
  }

}
@media (max-width: 640px) {
  .gswh-content {
    margin-top: 30px;
  }
  .text-picture {

    h4 {
      margin-bottom: 5px;
    }
    .text {
      font-size: 0.7em;
      font-weight: 100;
      padding: 0;
    }
  }
}

/*****shzr*******/

.shzr-spaq .text {
  padding-left: 30px;
  p {
    text-indent: 2rem;
    margin: 0;
    padding: 0;
    line-height: 2rem;
  }
}

.shzr-bzsy {
  img {
    margin-bottom: 20px;
  }
  .row {
    margin: 0;
  }
  .text {
    padding-left: 30px;
  }
  p {
    margin-bottom: 0;
    text-indent: 2em;
    line-height: 2em;
  }
}

/***********lxwm***********/

.lxwm {
  a {
    color: white;
  }
  a:hover {
    color: white;
  }
  .star {
    color: $brightred;
    padding: 0;
  }
  #appellation-margin {
    margin-right:5px;
    @media only screen and (max-width: 40em) {
      margin-right: 0;
    } 
  }

}

.lxwm-forms {
  padding: 0;
}
.lxwm-button {

  color: white;
  background-color: $brightred;
  padding: 5px 30px;
  text-align: center;
  margin-left: 23%;
  border-radius:4px;
  @media only screen and (max-width: 40em) {
    margin-left: 0;
  }    
}
.anytime {
  color:$brightred;
  font-style:italic;
  text-decoration:underline;
  text-align: center;
  
}



/**********hzgy**********/

.hzgy-hwys {
  img {
    text-align: center;
  }
  .text {
    text-align: left;
    text-indent: 2rem;
    margin-top: 20px;
    p {
      margin-bottom: 0;
      line-height: 2rem;
    }
  }
}

/**********xwdt************/
.xwdt {
  margin-left: 0;
  height: 700px;
  overflow:scroll;
  margin-top: 20px;
  list-style: none;
  li {
    position: relative;
    background-color: $lightgray;
    margin-bottom: 10px;
    img {
      padding-left: 20px;

      width: 30px;
    }
    .title {
      padding-right: 5%;      
      a {
        font-weight: bold;
        color: black;
      }
    }
    .subtitle {
      font-size: 0.8em;
    }
    .time {
      position: absolute;
      left: 88%;
      font-size:0.8em;
    }
  }
}
.xwdt-small {
  ::-webkit-scrollbar {
    width: 1px;
  }
  ::-webkit-scrollbar-thumb {
    width: 1px;
    background: $brightred;
  }
  padding: 0;
  margin-left: 0;
  height: 700px;
  overflow:scroll;
  margin-top: 20px;
  list-style: none;
  li {
    position: relative;
    background-color: $lightgray;
    margin-bottom: 10px;
    img {
      padding-left: 20px;

      width: 30px;
    }
    .title {
      padding-right: 7%;      
      a {
        font-weight: 500;
        color: black;
        font-size: 0.8em;
      }
    }

    .time {
      position: absolute;
      left: 80%;
      font-size: 0.8em;
    }
  }
}

/*********xwxq************/

.article-show {


  img {
    width: 100%;
    margin: 15px 0;
  }
  p {
    margin-bottom: 0;
    text-indent: 2em;
    line-height: 2em;
  }
  .title-info {
    display: table;
    margin: auto;
    text-align: right;
    margin-bottom: 20px;
    .title {        
      font-size: 1.2em;
      font-weight: bold;
    }
    .info {
      font-size: 0.8em;      
    }
  }
}