<div class="lxwm01-form columns medium-6 small-12 medium-centered">
  <form>


    <select name="cars">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="fiat">Fiat</option>
      <option value="audi">Audi</option>
    </select>
  </form>

</div>