<div class="row footer show-for-medium-up">
    <div class="medium-1 columns">&nbsp;</div>
    <div class="medium-10 columns" style="padding-left:20px;padding-right:40px;border-left: none">
    <div class="row">
    <div class="medium-3 columns">
      <ul class="footer-links">
        <li>
          <a href="#">关于亿心</a>
        </li>
      <li>
        <a href="#">公司概述</a>
      </li>
      <li>
        <a href="#">公司文化</a>
      </li>
      <li>
        <a href="#">组织机构</a>
      </li>
    </ul>
    </div>
    <div class="medium-3 columns">
        <ul class="footer-links">
      <li>
        <a href="#">新闻和促销</a>&nbsp;&nbsp;&nbsp;
      </li>
      <li>
        <a href="#">社会和责任</a>&nbsp;&nbsp;&nbsp;
      </li>
      <li>
        <a href="#">消费网络调查</a>
      </li>
      <li>
        <a href="#">合作共赢</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </li>
    </ul>
    </div>
    <div class="medium-3 columns">
        <ul class="footer-links">
      <li>
        <a href="#">顾客服务</a>
      </li>
      <li>
        <a href="#">诚聘英才</a>
      </li>
      <li>
        <a href="#">联系我们</a>
      </li>
      <li>&nbsp;</li>
    </ul>
    </div>
    <div class="medium-3 columns">
      <div class="row">
      <div class="medium-12">
        <h4>了解更多</h4>
        <p><img src="/img/social_media_icons.jpg"></p>
          <!-- <ul class="inline-list" style="background-color: white;">
            <li>
              <img src="/img/social_meida_icon_1.png">
            </li>
            <li>
              <img src="/img/social_meida_icon_2.png">
            </li>
            <li>
              <img src="/img/social_meida_icon_3.png">
            </li>
          </ul> -->
          <p>扫一扫&nbsp;收藏亿心</p>
          <p>&nbsp</p>
      </div>
    </div>
    </div>
  </div>
  </div>
  <div class="columns medium-1" style="border-left:none">&nbsp;</div>
  </div>
  </div>
  <div class="row show-for-small-only footer" style="padding-top:0px;padding-bottom:0px;">
    <div class="columns small-4 no-padding" style="padding-top:4px">
      <h4>了解更多</h4>
    </div>
    <div class="columns small-8 ">
      <ul class="small-block-grid-4 ">
        <li class="no-padding" style="padding:4px;">
          <img src="/img/social_meida_icon_1.png">
        </li>
        <li style="padding:4px;" >
          <img src="/img/social_meida_icon_2.png">
        </li>
        <li style="padding:4px;">
          <img src="/img/social_meida_icon_3.png">
        </li>
        <li style="padding:4px;">
          <img src="/img/qtcode_3.png">
        </li>
      </ul>
    </div>
  </div>
  <div class="row hidden-for-small ">
    <div class="columns medium-12 text-center copyright">
      <p>©COPYRIGHT 2003–2015 MARKOR FURNISHING 沪ICP备 15034157号-1.</p>
    </div>
  </div>