 <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                   &copy; 2014 - <span id='copyright_year'></span>, 杭州保亨生物科技有限公司<br>                    
                     技术支持: <a target="_blank" href="http://www.trade-v.com/" title="上海普慧信息科技有限公司">上海普慧信息科技有限公司</a><br>
                     浙ICP备14024074号-1
                </div>
                <div class="col-sm-6">
                    
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
    <script>
        var myDate = new Date();
        var currentYear = myDate.getFullYear(); 
        document.getElementById('copyright_year').innerText=currentYear;
    </script>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/main.js"></script>
    