
<div class="columns show-for-medium-up large-2 medium-1">
  &nbsp;</div>
  <div class="columns medium-10 medium-centered small-12">
    <div class="columns large-7 large-centered medium-10 medium-centered small-12 artilce-icon-bar">
      <ul class="small-block-grid-3 text-center p-no-margin " style="padding:0px">
        <li class="no-padding left">
          <img src="/img/icon_jingshen.png" />
        </li>
        <li class="no-padding">
          <img src="/img/icon_linian.png" />
        </li>
        <li class="no-padding right">
          <img src="/img/icon_dingwei.png" />
        </li>
        <li class="no-padding left">
          <a class="word" id="yxjs" href="#">亿心精神</a>
        </li>
        <li class="no-padding">
          <a class="word" id="yxln" href="#">亿心理念</a>
        </li>
        <li class="no-padding right">
          <a class="word" id="yxdw" href="#">亿心定位</a>
        </li>
      </ul>

    </div>
  </div>
