<p>
  <title></title>
</p>
<div class="row">
  
  <div class="columns large-7 large-centered medium-8 medium-centered small-12 artilce-icon-bar">
    <div class="icon-bar four-up ">
      <a class="item item-1"><img src="" ><label>亿心集团</label> </a>
      <a class="item item-2"><img src="" ><label>亿心购</label> </a>
      <a class="item item-3"><img src="" ><label>亿心乐</label> </a> 
      <a class="item item-4"><img src="" ><label>亿心传媒</label> </a>
    </div>
    
  </div>
</div>
