
<div class="row hidden-for-small">
  <div class="large-11 columns right">
    <nav class="top-bar" data-topbar role="navigation" data-topbar>
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon">
          <a href="#">
            <span></span>
          </a>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="inline-list right">
          <li>
            <a href="#" style="padding:0px;">中文</a>
          </li>
          <li class="menu-right-divider">|</li>
          <li>
            <a href="#" style="padding:0px;">English</a>
          </li>
          <li class="menu-right-divider">|</li>
          <li>
            <a href="#" style="padding:0px;">日本語</a>
          </li>
          <li style="margin-left:20px;">&nbsp;</li>
        </ul>
        <!-- Left Nav Section -->
        <ul class="left">
          <li class="">
            <a href="/" style="padding:0px;">首页</a>
          </li>
          <li class="menu-blank-space">&nbsp;</li>
          <li class="has-dropdown">
            <a href="#" style="padding:0px;">关于亿心</a>
            <ul class="dropdown f-dropdown" style="margin-left:-18px;border-style:none;" >
              <li>
                <a href="/pages/gongsigaishu">公司概述</a>
              </li>
              <li>
                <a href="/pages/gongsiwenhua">公司文化</a>
              </li>
              <li>
                <a href="">组织机构</a>
              </li>
            </ul>
          </li>
          <li class="menu-blank-space">&nbsp;</li>
          <li class="has-dropdown">
            <a href="#"  style="padding:0px;">新闻和促销</a>
            <ul class="dropdown  f-dropdown"  style="margin-left:-8px;border-style:none;">
              <li>
                <a href="/pages/xinwendongtai">新闻动态</a>
              </li>
              <li>
                <a href="#">最新信息</a>
              </li>
              <li>
                <a href="#">促销活动</a>
              </li>
            </ul>
          </li>
          <li class="menu-blank-space">&nbsp;</li>
          <li class="has-dropdown">
            <a href="#"  style="padding:0px;">社会责任</a>
            <ul class="dropdown f-dropdown"  style="margin-left:-18px;border-style:none;">
              <li>
                <a href="/pages/baozhensuyuan">保真溯源</a>
              </li>
              <li>
                <a href="/pages/shipinanquan">食品安全</a>
              </li>
              <li>
                <a href="#">回馈社会</a>
              </li>
            </ul>
          </li>
          <li class="menu-blank-space">&nbsp;</li>
          <li class="has-dropdown">
            <a href="#"  style="padding:0px;">合作共赢</a>
            <ul class="dropdown f-dropdown"  style="margin-left:-18px;border-style:none;">
              <li>
                <a href="#">政策倾向</a>
              </li>
              <li>
                <a href="#">合作伙伴</a>
              </li>
              <li>
                <a href="/pages/haiwaiyoushi">海外优势</a>
              </li>
            </ul>
          </li>
          <li class="menu-blank-space">&nbsp;</li>
          <li class="has-dropdown">
            <a href="#"  style="padding:0px;">联系我们</a>
            <ul class="dropdown f-dropdown text-center"  style="margin-left:-18px;border-style:none;">
              <li>
                <a href="/pages/contactus">中国总部</a>
              </li>
              <li>
                <a href="#">日本</a>
              </li>
              <li>
                <a href="#">澳洲</a>
              </li>
            </ul>
          </li>

        </ul>
      </section>
    </nav>
  </div>
</div>