
<div class="columns medium-10 medium-centered small-12">
<div class="columns large-7 large-centered medium-10 medium-centered small-12 artilce-icon-bar">
    <ul class="small-block-grid-3 text-center p-no-margin " style="padding:0px">
      <li class="no-padding">
        <img src="/img/icon_zhengce.png" />
      </li>
      <li class="no-padding">
        <img src="/img/icon_huoban.png" />
      </li>
      <li class="no-padding">
        <img src="/img/icon_youshi.png" />
      </li>
      <li class="no-padding">
        <a class="word" id="zcqx" href="#" class='active'>政策倾向</a>
      </li>
      <li class="no-padding">
        <a class="word" id="hzhb" href="#">合作伙伴</a>
      </li>
      <li class="no-padding">
        <a class="word" id="hwys" href="#">海外优势</a>
      </li>
    </ul>

  </div>
</div>
