<div class="row">
    <div class="small-1 large-12 columns show-for-small">
      <h1>
        <a onclick="javascript:window.history.back(-1);" style="font-family: SimSun-ExtB;font-weight: bold;">&lt;</a>
      </h1>
    </div>
    <div class="large-11 columns small-11 right">
      <h1>
        <a href="/"><img src="/img/logo.png" style="width:516px;"/></a>
      </h1>
    </div>
  </div>