 <div class="row show-for-small-only" style="margin-top:30px;">
        <div class="columns small-1">&nbsp;</div>
        <div class="columns small-10 text-center">
            <a href="#" class="button tiny split radius expand text-left" style="padding-top:5px;padding-bottom:5px;">导航 <span data-dropdown="drop"></span></a><br>
            <ul id="drop" class="f-dropdown text-left ul-drop-padding" data-dropdown-content>
              <li><a href="/">首页</a></li>
              <li><a href="/pages/gongsigaishu">关于亿心</a></li>
              <li><a href="/pages/newsdetail">新闻和促销</a></li>
              <li><a href="/pages/baozhensuyuan">社会责任</a></li>
              <li><a href="/pages/haiwaiyoushi">合作共赢</a></li>
              <li><a href="/pages/contactus">联系我们</a></li>
            </ul>
        </div>
        <div class="columns small-1">&nbsp;</div>
    </div>