

  <div class="columns medium-10 medium-centered small-12">
    <div class="columns large-7 large-centered medium-10 medium-centered small-12 artilce-icon-bar">
      <ul class="small-block-grid-3 text-center p-no-margin" style="padding:0px">
        <li class="no-padding">
          <img src="/img/icon_jingshen.png" />
        </li>
        <li class="no-padding">
          <img src="/img/icon_linian.png" />
        </li>
        <li class="no-padding">
          <img src="/img/icon_dingwei.png" />
        </li>
        <li class="no-padding">
          <a class="active word" id="bzsy" href="/pages/baozhensuyuan">保真溯源</a>
        </li>
        <li class="no-padding">
          <a class="word" id="spaq" href="/pages/shipinanquan">食品安全</a>
        </li>
        <li class="no-padding">
          <a class="word" id="hksh" href="#">回馈社会</a>
        </li>
      </ul>

    </div>
  </div>
