
<div class="columns show-for-medium-up large-2 medium-1">
  &nbsp;</div>
  <div class="columns medium-10 medium-centered small-12">
    <div class="columns large-7 large-centered medium-10 medium-centered small-12">
      <ul class="small-block-grid-3 text-center p-no-margin artilce-icon-bar" style="padding:0px">
        <li class="no-padding">
          <img src="/img/icon_jingshen.png" />
        </li>
        <li class="no-padding">
          <img src="/img/icon_linian.png" />
        </li>
        <li class="no-padding">
          <img src="/img/icon_dingwei.png" />
        </li>
        <li class="no-padding">
          <a class="active" href="#">保真溯源</a>
        </li>
        <li class="no-padding">
          <a href="#">食品安全</a>
        </li>
        <li class="no-padding">
          <a href="#">回馈社会</a>
        </li>
      </ul>

    </div>
  </div>
