<!--手机页面语言选择-->
    <div class="row show-for-small-only">
        <div class="small-12 columns text-center">
            <ul class="button-group radius">
              <li><a href="#" class="button short-button active-button">中文</a></li>
              <li><a href="#" class="button short-button">English</a></li>
              <li><a href="#" class="button short-button">日本語</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <ul class="example-orbit" data-orbit  data-options="slide_number:false;timer_speed: 3000;">
                <li>
                    <img src="/img/slice1200-1.jpg"></li>
                <li>
                    <img src="/img/slice1200-2.jpg"></li>
                <li>
                    <img src="/img/slice1200-3.jpg"></li>
            </ul>
        </div>
    </div>
    <%=render "shared/mobile_menu"%>
    <div class="row show-for-medium-up">
        <div class="columns medium-1">&nbsp;</div>
        <div class="columns medium-10">
            <ul class="small-block-grid-3 text-center p-no-margin">
                <li><p><img src="img/cart_icon.png"></p></li>
                <li><p><img src="img/people_icon.png"></p></li>
                <li><p><img src="img/media_icon.png"></p></li>
                <li><a class="th radius" href="#"><img src="img/home_bottom_1.jpg"></a></li>
                <li><a class="th radius" href="#"><img src="img/home_bottom_2.jpg"></a></li>
                <li><a class="th radius" href="#"><img src="img/home_bottom_3.jpg"></a></li>
            </ul>
        </div>
        <div class="columns medium-1">&nbsp;</div>
    </div>
    
    <div class="row show-for-small">
        <div class="columns small-1">&nbsp;</div>
        <div class="columns small-10 text-center">
            <ul class="small-block-grid-3 p-no-margin">
              <li ><a class="th radius" href="#"><img src="img/home_1.png"></a></li>
              <li><a class="th radius"  href="#"><img src="img/home_2.png"></a></li>
              <li><a class="th radius"  href="#"><img src="img/home_3.png"></a></li>
            </ul>
        </div>
        <div class="columns small-1">&nbsp;</div>
    </div>