<link href="/OfficialWebsite/application.css" media="all" rel="stylesheet" type="text/css">
<link href="/OfficialWebsite/gsgs.css" media="all" rel="stylesheet" type="text/css">
<link href="/OfficialWebsite/gyyx.css" media="all" rel="stylesheet" type="text/css">
<link href="/OfficialWebsite/hzgy.css" media="all" rel="stylesheet" type="text/css">
<link href="/OfficialWebsite/lxwm.css" media="all" rel="stylesheet" type="text/css">
<link href="/OfficialWebsite/shzr.css" media="all" rel="stylesheet" type="text/css">
<link href="/OfficialWebsite/xwcx.css" media="all" rel="stylesheet" type="text/css">
<link href="/OfficialWebsite/contacts.css" media="all" rel="stylesheet" type="text/css">
<link href="/OfficialWebsite/custom.css" media="all" rel="stylesheet" type="text/css">
<link href="/OfficialWebsite/home.css" media="all" rel="stylesheet" type="text/css">
<link href="/OfficialWebsite/pages.css" media="all" rel="stylesheet" type="text/css">
<script src="/OfficialWebsite/jquery.js" type="text/javascript"></script><style type="text/css"></style>
<script src="/OfficialWebsite/jquery_ujs.js" type="text/javascript"></script>
<script src="/OfficialWebsite/affix.js" type="text/javascript"></script>
<script src="/OfficialWebsite/alert.js" type="text/javascript"></script>
<script src="/OfficialWebsite/button.js" type="text/javascript"></script>
<script src="/OfficialWebsite/carousel.js" type="text/javascript"></script>
<script src="/OfficialWebsite/collapse.js" type="text/javascript"></script>
<script src="/OfficialWebsite/dropdown.js" type="text/javascript"></script>
<script src="/OfficialWebsite/tab.js" type="text/javascript"></script>
<script src="/OfficialWebsite/transition.js" type="text/javascript"></script>
<script src="/OfficialWebsite/scrollspy.js" type="text/javascript"></script>
<script src="/OfficialWebsite/modal.js" type="text/javascript"></script>
<script src="/OfficialWebsite/tooltip.js" type="text/javascript"></script>
<script src="/OfficialWebsite/popover.js" type="text/javascript"></script>
<script src="/OfficialWebsite/bootstrap-sprockets.js" type="text/javascript"></script>
<script src="/OfficialWebsite/gsgs.js" type="text/javascript"></script>
<script src="/OfficialWebsite/gyyx.js" type="text/javascript"></script>
<script src="/OfficialWebsite/hzgy.js" type="text/javascript"></script>
<script src="/OfficialWebsite/lxwm.js" type="text/javascript"></script>
<script src="/OfficialWebsite/shzr.js" type="text/javascript"></script>
<script src="/OfficialWebsite/xwcx.js" type="text/javascript"></script>
<script src="/OfficialWebsite/contacts.js" type="text/javascript"></script>
<script src="/OfficialWebsite/home.js" type="text/javascript"></script>
<script src="/OfficialWebsite/application.js" type="text/javascript"></script>
<%=render "shared/mobile_menu"%>
<div class="panel article" style="padding-top:50px;">
<%=render "shared/metable", :resource => @page %>
<%=@page.body.html_safe%>

</div>