<div class="columns medium-8 medium-centered small-12 article-show">
  <div class="title-info">
    <div class="title">
      李克强主持召开国务院常务会议
    </div>
    <div class="info">
      <span>上传时间：2015-7-15</span>
    </span>阅读人数：1000</span>
  </div>
</div>

<div class="content">
  <p>新华网北京7月15日电  国务院总理李克强7月15日主持召开国务院常务会议，决定再取消一批职业资格许可和认定事项，以改革释放创业创新活力；部署促进进出口稳定增长的政策措施，在扩大开放中增强发展动力。</p>
  <img src="/img/example_img.jpg">
  <p>会议指出，今年以来，通过加大定向调控等措施，我国经济运行缓中趋稳、稳中向好，结构调整积极推进，活力动力继续增强，在深化各领域改革、促进产业升级、保障和改善民生、保持各类市场稳定等方面都取得积极成效，为完成全年经济社会发展主要目标任务创造了条件。下一步巩固稳中向好基础，继续顶住下行压力，保持经济运行在合理区间，必须坚定不移推进改革，继续加大简政放权、放管结合、优化服务等改革力度，清除对市场主体的不合理束缚和羁绊，有效发挥市场配置资源的决定性作用和更好发挥政府作用，推动形成大众创业、万众创新的蓬勃局面。会议决定，在去年以来已取消149项职业资格的基础上，再抓紧建立国家职业资格管理长效机制，向社会公布国家职业资格目录清单。一方面，在目录之外不得开展职业资格许可和认定工作；另一方面，通过建立科学的国家职业资格体系，促进各类人才脱颖而出，提升更多产业、岗位的劳动和工作品质，推动大众创业、万众创新，让广大劳动者更好施展创业创新才能。</p>
  <p>会议指出，推进新一轮更高水平对外开放，是经济提质增效升级的重要支撑。要进一步推动对外贸易便利化，改善营商环境，为外贸企业减负助力，促进进出口稳定增长，培育国际竞争新优势。会议确定，一是大力提高口岸通关效率，推动全国一体化通关，加快复制推广自贸试验区的贸易便利化措施，在沿海各口岸开展国际贸易“单一窗口”试点。加快出口退税进度。二是调整《鼓励进口技术和产品目录》及进口贴息政策支持范围，扩大优惠利率进口信贷覆盖面，加大先进技术、设备和关键零部件及国内需求较大的部分消费品等进口。</p>
</div>
</div>
